.course-page {
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
}

.content {
    flex: 1; /* Занимает доступное пространство */
    margin-right: 20px; /* Отступ справа от content */
}

.form-section {
    width: 300px; /* Фиксированная ширина для формы */
}
