.design {
    position: relative;

    display: flex;
    gap: 20px 62px;
    margin-top: 159px;
}

.design__photo {
    position: relative;

    height: fit-content;
}

.design__content {
    max-width: 522px;
    margin-left: -30%;
    margin-top: 10%;
    padding-top: 50px;
}

.design__content-title {
    margin-left: 11px;

    line-height: 60px;
    text-transform: capitalize;
}

.design__content-description {
    margin-left: 11px;
}

.design__contact {
    position: absolute;
    bottom: 37px;

    padding: 2px 16px;

    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #fdb100;
    text-decoration: none;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    background-color: #ffffff;

    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.design__contact:hover,
.design__contact:focus {
    color: #ffffff;
    background-color: #fdb100;
}

.design__indicators {
    position: absolute;
    right: 52px;
    top: 0;

    display: flex;
    align-items: center;
    column-gap: 35px;

    font-size: 16px;
    line-height: 28px;
}

.design__indicators-favourites,
.design__indicator-time {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.design__day {
    position: relative;
    max-width: 100px;
    margin-bottom: 27px;
}

.design__day-image {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);

    width: 80px;
    height: 80px;

    padding: 15px;
    border-radius: 100%;
    background-color: #fdb100;
}