header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}