img {
    max-width: 65%;
    height: auto;
}

.image {
    flex: 1;
    border: 2px solid rgba(0, 0, 0, 0);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.header__logo {
    max-width: 15%;
    height: auto;
}

